@import "../../../shared";

:local(.nav) {
  @include type-s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: $spacing-m;
  margin: 0;
  border-bottom: 1px solid $main;

  li {
    display: inline-block;
    margin-right: $spacing-l;
  }
}

:local(.title) {
  @include type-l;
  font-weight: $font-weight-heavy;
}

:local(.navContainer) {
  position: fixed;
  height: $nav-bar-height;
  width: 100%;
  z-index: 100;
}
