// Colors

$secondary: #7F91A2;
$secondary-lighter: #97b1ca;
$secondary-darker: #546371;

$off: #fafafa;
$medium: #DDD;

$success: #49CBA9;
$error: #eb5353;
$warning: #F5D392;

$save: rgb(255, 219, 77);
$cancel: #f7f7f7;
$main: $save;

// Spacing
$spacing-xs: 3px;
$spacing-s: 6px;
$spacing-m: 12px;
$spacing-l: 24px; 
$spacing-xl: 30px; 
$spacing-xxl: 36px; 

// Misc
$border-radius: 2px;
$border-radius-button: 2px;
$header-height: 68px;
$nav-bar-height: 68px;
$footer-height: 38px;

// Typography
$font-weight-light: 100;
$font-weight-medium: 300;
$font-weight-heavy: 500;

@mixin type-xs {
  font-size: 12px;
  line-height: 14px;
}

@mixin type-s {
  font-size: 14px;
  line-height: 18px;
}

@mixin type-m {
  font-size: 16px;
  line-height: 18px;
}

@mixin type-l {
  font-size: 18px;
  line-height: 24px;
}

@mixin type-xl {
  font-size: 24px;
  line-height: 36px;
}

@mixin type-xxl {
  font-size: 38px;
  line-height: 40px;
}

@mixin input-xl {
  @include input;
  @include type-xxl;
  height: 48px;
}

@mixin input {
  @include type-m;
  padding: $spacing-m $spacing-l;
  border: 1px solid $dark;
  border-radius: $border-radius;
  margin: $spacing-s $spacing-s $spacing-s 0;
  height: $spacing-l;
}

@mixin btn-outline {
  padding: $spacing-s $spacing-m;
  border: 1px solid $primary;
  display: inline-block;
  color: $primary;
  border-radius: $border-radius;
}

@mixin btn-filled {
  padding: $spacing-s $spacing-m;
  border: 1px solid $primary;
  background-color: $primary;
  border-radius: $border-radius;
  color: white;
}

@mixin link-list {
  list-style: none;
  padding: 0;
  li, a { display: inline-block; }
}

@mixin circle($dimension) {
  line-height: $dimension;
  border-radius: 100%;
  height: $dimension;
  width: $dimension;
}

@mixin light-shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

@mixin card {
  background: rgba(255,255,255,0.80);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 10px 0 rgba(0,0,0,0.03);
  border-radius: $border-radius;
}

@keyframes blink { to { opacity: 0.3; } }

@mixin blink {
  opacity: 0.9;
  animation: blink .8s ease-in-out infinite alternate;  
}
