@import "../../../shared";

:local(.wrapper) {
  input {
    font-size: inherit;
    width: 100%;
  }
}

:local(.error) {
  input, input:focus, input:hover {
    border-color: $error;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

:local(.withBox) {
  input, input:focus, input:hover {
    margin-bottom: 0;
  }
}

:local(.errorBox) {
  @include type-xs;

  color: $error;
  margin: $spacing-m 0;
}
